.center{
  position: absolute;
  left: 50%;
  margin-left: -10px;
  min-height: 65px;
}
.team-select,
.social-select {
  margin: 20px 0 0 20px;
  font-size: 20px;
  font-weight: 100;
}
.team-list {
  padding-left: 10px;
}
.teamuserHover:hover {
  background-color: #f1f1f1;
}
.teamuserHover:active{
  background-color: #ccc;
}
.teamuserHover {
    padding:20px;
    width:200px;
}
.teamuserName {
    font-size:14px;
    padding:10px;
}
.close-contact {
  cursor: pointer;
}
.chat-activity-list {
  max-height: 450px;
  overflow-y: auto;
}
.prof-pic {
  width: 50px;
  height: 50px;
  margin: auto;
}
.prof-info {
  text-align: center;
}
.welcome {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 200;

.row.event {
  padding: 5px;
}
.chat-name {
  display: inline;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 400;
}
.chat-text {
  font-size: 15px;
  font-weight: 200;
  font-family: sans-serif;
}
.chat-display,
.settings-display {
  margin-top: 20px !important;
}
.chat-add {
  margin-top: 30px !important;
}
.social-select {
  display: inline;
  margin-top: 0;
  height: 34px;
}
.social-input {
  width: 82% !important;
}
.display-name,
.phone-number {
  font-weight: 100;
  padding-right: 5px;
}
.display-name {
  font-size: 27px;
}
.phone-number,
.social-links {
  font-size: 20px;
}
.team-direct {
  background-color: #293846;
}
.team-direct a {
  text-decoration: none;
  color: white;
}
.events-form-label {
  padding-right: 0px;
}
.events-form {
  padding: 0px;
}
.events-form-row {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Dashboard Calendar */
.timeline-item .content {
  min-height: 70px !important;
  border-bottom: 1px solid #e7eaec;
}
.email {
  margin-bottom: 10px !important;
}
.contact-table td {
  padding-top: 3px;
}
.contact-table a {
  color: #23c6c8;
}
.contact-table a:hover {
  color: #245269;
}
.loginscreen, .notification {
  color: white;
}
.input-group-addon, 
.form-control {
  color: #555 !important;
}
.register-link {
  color: black !important;
}