.center {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  min-height: 65px;
}
.team-select,
.social-select {
  margin: 20px 0 0 20px;
  font-size: 20px;
  font-weight: 100;
}
.team-list {
  padding-left: 10px;
}
.teamuserHover:hover {
  background-color: #f1f1f1;
}
.teamuserHover:active {
  background-color: #ccc;
}
.teamuserHover {
    padding:20px;
    width:200px;
}
.teamuserName {
    font-size:14px;
    padding:10px;
}
.close-contact {
  cursor: pointer;
}
.chat-activity-list {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.small-chat-box {
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}
.prof-pic {
  width: 50px;
  height: 50px;
  margin: auto;
}
.prof-info {
  text-align: center;
}
.welcome {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 200;

.row.event {
  padding: 5px;
}
.chat-name {
  display: inline;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 400;
}
.chat-text {
  font-size: 15px;
  font-weight: 200;
  font-family: sans-serif;
}
.chat-display,
.settings-display {
  margin-top: 20px !important;
}
.chat-add {
  margin-top: 30px !important;
}
.social-select {
  display: inline;
  margin-top: 0;
  height: 34px;
}
.social-input {
  width: 82% !important;
}
.display-name,
.phone-number {
  font-weight: 100;
  padding-right: 5px;
}
.display-name {
  font-size: 27px;
}
.phone-number,
.social-links {
  font-size: 20px;
}
.team-direct {
  background-color: #293846;
}
.team-direct a {
  text-decoration: none;
  color: white;
}
.events-form-label {
  padding-right: 0px;
}
.events-form {
  padding: 0px;
}
.events-form-row {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Dashboard Calendar */
.timeline-item .content {
  min-height: 70px !important;
  border-bottom: 1px solid #e7eaec;
}
.email {
  margin-bottom: 10px !important;
}
.contact-table td {
  padding-top: 3px;
}
.contact-table a {
  color: #23c6c8;
}
.contact-table a:hover {
  color: #245269;
}
.loginscreen, .notification {
  color: white;
}
.input-group-addon,
.form-control {
  color: #555 !important;
}
.notification {
  color: white;
}
.centerRegistration {
  position: absolute;
  left: 45%;
  margin-left: -10px;
  min-height: 65px;
  color: white;
}
.btn-calendar {
  margin-bottom: 2.5px;
}
.message-avatar {
  width: 28px !important;
  height: 28px !important;
}
.navbar-brand {
  padding-left:0px;
  text-align: center;
  margin: auto;
  color: #999c9e;
  padding-top:12px;
}
.nav > li > a {
    color: #999c9e;
}
.logo {
  width: 35px;
  height: 35px;
  display: inline !important;
}
.logo-wrapper {
  position: absolute;
  min-height: 50px;
  left: 45%;
}
.navbar-brand {
    color: #2f4050;
}
.imSend {
  position: fixed;
  bottom: 10px;
}
.small-chat-box .content {
  height: 80%;
  width: 268px;
  overflow: auto;
}
.im-heading {
  background-color: #f9f9f9;
  padding: 8px 15px;
  font-weight: 700;
  color: #676a6c;
  border: 1px solid #e7eaec;
}
.logo-register-wrapper {
  list-style: none;
  display: inline-block;
  padding-left: 0px;
}
.logo-register {
  width: 70px;
  height: 70px;
}
.message-alert {
  position: fixed;
  z-index: 99999;
  top: 12px !important;
  right: 30px !important;
}
<<<<<<< HEAD
@media (min-width: 768px) {
  .col-sm-9 {
    width: 75% !important;
  }
  .disappear-desktop-width {
    display:none;
  }
}
@media (max-width: 768px) {
  .disappear-mobile-width {
    display:none;
  }
}
@media (min-width: 768px)
.col-sm-9 {
  width: 75% !important;
}

.col-sm-9 {
  width: 75% !important;
}

.tab-pane {
  height:inherit !important;
}
