.center {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  min-height: 65px;
}
.team-select,
.social-select {
  margin: 20px 0 0 20px;
  font-size: 20px;
  font-weight: 100;
}
.team-list {
  padding-left: 10px;
}
.teamuserHover:hover {
  background-color: #f1f1f1;
}
.teamuserHover:active {
  background-color: #ccc;
}
.teamuserHover {
    padding:20px;
    width:200px;
}
.teamuserName {
    font-size:14px;
    padding:10px;
}
.close-contact {
  cursor: pointer;
}
.chat-activity-list {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}
.small-chat-box {
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}
.prof-pic {
  width: 50px;
  height: 50px;
  margin: auto;
}
.prof-info {
  text-align: center;
}
.welcome {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 200;

.row.event {
  padding: 5px;
}
.chat-name {
  display: inline;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 800;
}
.chat-text {
  font-size: 15px;
  font-weight: 200;
  font-family: sans-serif;
}
.chat-display,
.settings-display {
  margin-top: 20px !important;
}
.chat-add {
  margin-top: 30px !important;
}
.social-select {
  display: inline;
  margin-top: 0;
  height: 34px;
}
.social-input {
  width: 82% !important;
}
.display-name,
.phone-number {
  font-weight: 100;
  padding-right: 5px;
}
.display-name {
  font-size: 27px;
}
.phone-number,
.social-links {
  font-size: 20px;
}
.team-direct {
  background-color: #293846;
}
.team-direct a {
  text-decoration: none;
  color: white;
}
.events-form-label {
  padding-right: 0px;
}
.events-form {
  padding: 0px;
}
.events-form-row {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* Dashboard Calendar */
.timeline-item .content {
  min-height: 70px !important;
  border-bottom: 1px solid #e7eaec;
}
.email {
  margin-bottom: 10px !important;
}
.contact-table td {
  padding-top: 3px;
}
.contact-table a {
  color: #23c6c8;
}
.contact-table a:hover {
  color: #245269;
}
.loginscreen, .notification {
  color: white;
}
.input-group-addon,
.form-control {
  color: #555 !important;
}
.notification {
  color: white;
}
.centerRegistration {
  position: absolute;
  left: 45%;
  margin-left: -10px;
  min-height: 65px;
  color: white;
}
.btn-calendar {
  margin-bottom: 2.5px;
}
.message-avatar {
  width: 28px !important;
  height: 28px !important;
}
.navbar-brand {
  padding-left:0px;
  text-align: center;
  margin: auto;
  color: #999c9e;
  padding-top:12px;
}
.nav > li > a {
    color: #999c9e;
}
.logo {
  width: 35px;
  height: 35px;
  display: inline !important;
}
.logo-wrapper {
  position: absolute;
  min-height: 50px;
  left: 45%;
}
.navbar-brand {
    color: #2f4050;
}
.imSend {
  position: fixed;
  bottom: 10px;
}
.small-chat-box .content {
  height: 80%;
  width: 268px;
  overflow: auto;
}
.im-heading {
  background-color: #f9f9f9;
  padding: 8px 15px;
  font-weight: 700;
  color: #676a6c;
  border: 1px solid #e7eaec;
}
.logo-register-wrapper {
  list-style: none;
  display: inline-block;
  padding-left: 0px;
}
.logo-register {
  width: 70px;
  height: 70px;
}
.logo-landing-wrapper {
  position: relative;
}
.logo-landing {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 16px;
  left: -5px;
}
.logo-text-landing {
  padding-left: 20px;
}
.logo-scroll {
  top: 25px;
}
.text-scroll {
  padding-left: 25px;
}
.message-alert {
  position: fixed;
  z-index: 99999;
  top: 12px !important;
  right: 30px !important;
}

/* top navbar media queries */
@media (min-width: 768px) {
  .col-sm-9 {
    width: 75% !important;
  }
  .disappear-desktop-width {
    display: none;
    position: absolute;
    pointer-events: none;
    top: 12px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .disappear-mobile-width {
    display:none;
  }
}

.tab-pane {
  height:inherit !important;
}
.side-nav {
  position: fixed;
  top: 0;
  left: 0;
}
.imButton {
  background-color: #18a689 !important;
  border-color: #18a689 !important;
}
.chat-activity-list .col-sm-1 {
  width: 4% !important;
}
.chat-activity-list .media-body {
  padding-top: 5px;
}
.contact-table span {
  padding: 5px;
}
.contact-table .phone-number {
  display: inline-block !important;
}

/* team edit */
.loading-spinner {
  padding-top:20px;
}
.pointer-cursor {
  cursor:pointer;
}
.team-edit-join-title {
  padding-bottom:10px;
  padding-left:0px!important;
}
.team-edit-padding-20 {
  padding:20px;
}
.team-edit-search-bar {
  padding-left:10px;
  padding-bottom:10px;
}
.team-edit-search-bar-inner-div {
  padding-left:10px;
  padding-bottom:20px!important;
}
.team-edit-btn {
  margin-left:20px;
}
.team-edit-padding-25 {
  padding-left:25px!important;
  padding-bottom:15px;
}

/* todo list */
.todo-input {
  width:75%!important;
}

/* dashboard */
.dashboard-agile-list {
  padding:20px;
  padding-top:15px;
}
.dashboard-agile-list-element {

}
.dashboard-agile-list-tag {
background-color: rgb(255, 255, 255);
border: 1px solid rgb(231, 234, 236);
border-radius: 3px;
color: rgb(103, 106, 108);
display: block;
float: right;
font-family: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 12px;
height: 22px;
line-height: 20px;
padding: 1px 5px;
text-align: left;
text-decoration: none;
cursor:default!important;
}
.dashboard-padding {
  margin:20px;
}
.dashboard-todo-button {
  margin-bottom:
}
.dashboard-team-select {
  padding-top:5px!important;
}
.im-input {
  margin-left: 12px;
}
.photo-input {
  padding-right: 30px;
  padding-left: 10px;
}
.top-two-inputs {
  padding-left: 0 !important;
}
