<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Todo List</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <strong>Todo List</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content " ng-controller="TodoController">

  <div ng-show="loading" class="center">
    <i class="center fa fa-spinner fa-spin fa-5x"></i>
  </div>

  <div class="row" ng-hide="loading">

  <!-- First column -->

    <div class="col-lg-3" ng-show="listBools[0]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>
            <form ng-submit="submitNewColumnName(0)">
              <span ng-hide="columnNameEdit[0]">{{columnNames[0]}}</span>
              <input type="text" ng-show="columnNameEdit[0]" ng-model="columnNames[0]" class="input input-sm form-control"> 
              <span class="text-right"><i ng-hide="columnNameEdit[0]" class="pointer-cursor fa fa-pencil" ng-click="editColumnName(0)"></i>
            </form>
          </h3>

          <div class="input-group">
              <form ng-submit="addTask(0)">
                <div class="input-group m-b">
                  <input type="text" placeholder="Add new task " ng-model="inputFields[0]" class="form-control todo-input">
                  <span class="input-group-addon-sm">
                    <button type="submit" class="btn btn-white"><i class="fa fa-plus"></i></button> 
                  </span>
                </div>
              </form>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[0].$save()" ng-model="lists[0]">
            <li class="{{task.statusClass}}-element animated fadeIn" ng-repeat="task in lists[0]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="deleteTask(task, 0)" href="#" class="pull-right btn btn-xs btn-white">
                  <i class="fa fa-times"></i>
                </a>
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">
                  {{task.tagName}}
                </a>
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="updateFirebaseTodos()">Save</button>
          &nbsp;&nbsp;&nbsp;&nbsp;{{savedDisplay}}
        </div>
      </div>
    </div>

  <!-- Second column -->

    <div class="col-lg-3" ng-show="listBools[1]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>
            <form ng-submit="submitNewColumnName(1)">
              <span ng-hide="columnNameEdit[1]">{{columnNames[1]}}</span>
              <input type="text" ng-show="columnNameEdit[1]" ng-model="columnNames[1]" class="input input-sm form-control"> 
              <span class="text-right"><i ng-hide="columnNameEdit[1]"  class="pointer-cursor fa fa-pencil" ng-click="editColumnName(1)"></i>
            </form>
          </h3>

          <div class="input-group">
              <form ng-submit="addTask(1)">
                <div class="input-group m-b">
                  <input type="text" placeholder="Add new task " ng-model="inputFields[1]" class="form-control todo-input">
                  <span class="input-group-addon-sm">
                    <button type="submit" class="btn btn-white"><i class="fa fa-plus"></i></button> 
                  </span>
                </div>
              </form>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[1].$save()" ng-model="lists[1]">
            <li class="{{task.statusClass}}-element animated fadeIn" ng-repeat="task in lists[1]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="deleteTask(task, 1)" href="#" class="pull-right btn btn-xs btn-white">
                  <i class="fa fa-times"></i>
                </a>
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">
                  {{task.tagName}}
                </a>
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="updateFirebaseTodos()">Save</button>
          &nbsp;&nbsp;&nbsp;&nbsp;{{savedDisplay}}
        </div>
      </div>
    </div>

  <!-- Third column -->

    <div class="col-lg-3" ng-show="listBools[2]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>
            <form ng-submit="submitNewColumnName(2)">
              <span ng-hide="columnNameEdit[2]">{{columnNames[2]}}</span>
              <input type="text" ng-show="columnNameEdit[2]" ng-model="columnNames[2]" class="input input-sm form-control"> 
              <span class="text-right"><i ng-hide="columnNameEdit[2]"  class="pointer-cursor fa fa-pencil" ng-click="editColumnName(2)"></i>
            </form>
          </h3>

          <div class="input-group">
              <form ng-submit="addTask(2)">
                <div class="input-group m-b">
                  <input type="text" placeholder="Add new task " ng-model="inputFields[2]" class="form-control todo-input">
                  <span class="input-group-addon-sm">
                    <button type="submit" class="btn btn-white"><i class="fa fa-plus"></i></button> 
                  </span>
                </div>
              </form>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[2].$save()" ng-model="lists[2]">
            <li class="{{task.statusClass}}-element animated fadeIn" ng-repeat="task in lists[2]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="deleteTask(task, 2)" href="#" class="pull-right btn btn-xs btn-white">
                  <i class="fa fa-times"></i>
                </a>
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">
                  {{task.tagName}}
                </a>
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="updateFirebaseTodos()">Save</button>
          &nbsp;&nbsp;&nbsp;&nbsp;{{savedDisplay}}
        </div>
      </div>
    </div>

  <!-- Fourth column -->

    <div class="col-lg-3" ng-show="listBools[3]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>
            <form ng-submit="submitNewColumnName(3)">
              <span ng-hide="columnNameEdit[3]">{{columnNames[3]}}</span>
              <input type="text" ng-show="columnNameEdit[3]" ng-model="columnNames[3]" class="input input-sm form-control"> 
              <span class="text-right"><i ng-hide="columnNameEdit[3]"  class="pointer-cursor fa fa-pencil" ng-click="editColumnName(3)"></i>
            </form>
          </h3>

          <div class="input-group">
              <form ng-submit="addTask(3)">
                <div class="input-group m-b">
                  <input type="text" placeholder="Add new task " ng-model="inputFields[3]" class="form-control todo-input">
                  <span class="input-group-addon-sm">
                    <button type="submit" class="btn btn-white"><i class="fa fa-plus"></i></button> 
                  </span>
                </div>
              </form>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[3].$save()" ng-model="lists[3]">
            <li class="{{task.statusClass}}-element animated fadeIn" ng-repeat="task in lists[3]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="deleteTask(task, 3)" href="#" class="pull-right btn btn-xs btn-white">
                  <i class="fa fa-times"></i>
                </a>
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">
                  {{task.tagName}}
                </a>
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="updateFirebaseTodos()">Save</button>
          &nbsp;&nbsp;&nbsp;&nbsp;{{savedDisplay}}
        </div>
      </div>
    </div>

  </div>
</div>