<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Agile board</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <strong>Agile board</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight" ng-controller="TodoController">

  <div>
  </div>

  <div class="row">


  <!-- First column -->

    <div class="col-lg-4" ng-show="listBools[0]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>To-do</h3>
          <!-- <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p> -->

          <div class="input-group">
            <form ng-submit="addTask(0)">
              <input type="text" style="width:60%" placeholder="Add new task. " ng-model="inputFields[0]" class="input input-sm form-control">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-s0)m btn-white"> <i class="fa fa-plus"></i> Add task</button>
              </span>
            </form>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[0].$save()" ng-change="lists[0].$save()" ng-model="lists[0]">
            <li class="{{task.statusClass}}-element" ng-repeat="task in lists[0]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <!-- Second column -->

    <div class="col-lg-4" ng-show="listBools[1]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>To-do</h3>
          <!-- <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p> -->

          <div class="input-group">
            <form ng-submit="addTask(1)">
              <input type="text" style="width:60%" placeholder="Add new task. " ng-model="inputFields[1]"  class="input input-sm form-control">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> Add task</button>
              </span>
            </form>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[1].$save()" ng-model="lists[1]">
            <li class="{{task.statusClass}}-element" ng-repeat="task in lists[1]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <!-- Third column -->

    <div class="col-lg-4" ng-show="listBools[2]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>To-do</h3>
          <!-- <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p> -->

          <div class="input-group">
            <form ng-submit="addTask(2)">
              <input type="text" style="width:60%" placeholder="Add new task. " ng-model="inputFields[2]"  class="input input-sm form-control">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> Add task</button>
              </span>
            </form>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[2].$save()" ng-model="lists[2]">
            <li class="{{task.statusClass}}-element" ng-repeat="task in lists[2]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <!-- Fourth column -->

    <div class="col-lg-4" ng-show="listBools[3]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>To-do</h3>
          <!-- <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p> -->

          <div class="input-group">
            <form ng-submit="addTask(3)">
              <input type="text" style="width:60%" placeholder="Add new task. " ng-model="inputFields[3]"  class="input input-sm form-control">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> Add task</button>
              </span>
            </form>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[3].$save()" ng-model="lists[3]">
            <li class="{{task.statusClass}}-element" ng-repeat="task in lists[3]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <!-- Fifth column -->

    <div class="col-lg-4" ng-show="listBools[4]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>To-do</h3>
          <!-- <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p> -->

          <div class="input-group">
            <form ng-submit="addTask(4)">
              <input type="text" style="width:60%" placeholder="Add new task. " ng-model="inputFields[4]"  class="input input-sm form-control">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> Add task</button>
              </span>
            </form>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[4].$save()" ng-model="lists[4]">
            <li class="{{task.statusClass}}-element" ng-repeat="task in lists[4]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>