<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Agile board</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <strong>Agile board</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight" ng-controller="TodoController">

  <div>
  </div>

  <div class="row">


  <!-- First column -->


    <div class="col-lg-4" ng-show="listBools[0]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>To-do</h3>
          <!-- <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p> -->

          <div class="input-group">
            <div class="col-sm-10">
              <form ng-submit="addTask(0)">
                <div class="input-group m-b">
                  <span class="input-group-btn">
                    <input type="text" style="width:60%" placeholder="Add new task. " ng-model="inputFields[0]" class="input input-sm form-control">
                    <button type="submit" class="btn btn-white"><i class="fa fa-plus"></i> Add task</button> 
                  </span> 
                  </div>
              </form>
            </div>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[0].$save()" ng-model="lists[0]">
            <li class="{{task.statusClass}}-element" ng-repeat="task in lists[0]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="deleteTask(task, 0)" href="#" class="pull-right btn btn-xs btn-white">
                  <i class="fa fa-times"></i>
                </a>
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">
                  {{task.tagName}}
                </a>
                &nbsp;&nbsp;
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="updateFirebaseTodos()">Save</button>
          &nbsp;&nbsp;&nbsp;&nbsp;{{savedDisplay}}
        </div>
      </div>
    </div>

  <!-- Second column -->

    <div class="col-lg-4" ng-show="listBools[1]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>To-do</h3>
          <!-- <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p> -->

          <div class="input-group">
            <div class="col-sm-10">
              <form ng-submit="addTask(1)">
                <div class="input-group m-b">
                  <span class="input-group-btn">
                    <input type="text" style="width:60%" placeholder="Add new task. " ng-model="inputFields[1]" class="input input-sm form-control">
                    <button type="submit" class="btn btn-white"><i class="fa fa-plus"></i> Add task</button> 
                  </span> 
                </div>
              </form>
            </div>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[1].$save()" ng-model="lists[1]">
            <li class="{{task.statusClass}}-element" ng-repeat="task in lists[1]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="deleteTask(task, 1)" href="#" class="pull-right btn btn-xs btn-white">
                  <i class="fa fa-times"></i>
                </a>
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">
                  {{task.tagName}}
                </a>
                &nbsp;&nbsp;
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="updateFirebaseTodos()">Save</button>
          &nbsp;&nbsp;&nbsp;&nbsp;{{savedDisplay}}
        </div>
      </div>
    </div>

  <!-- Third column -->

    <div class="col-lg-4" ng-show="listBools[2]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>To-do</h3>
          <!-- <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p> -->

          <div class="input-group">
            <div class="col-sm-10">
              <form ng-submit="addTask(2)">
                <div class="input-group m-b">
                  <span class="input-group-btn">
                    <input type="text" style="width:60%" placeholder="Add new task. " ng-model="inputFields[2]" class="input input-sm form-control">
                    <button type="submit" class="btn btn-white"><i class="fa fa-plus"></i> Add task</button> 
                  </span> 
                </div>
              </form>
            </div>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[2].$save()" ng-model="lists[2]">
            <li class="{{task.statusClass}}-element" ng-repeat="task in lists[2]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="deleteTask(task, 2)" href="#" class="pull-right btn btn-xs btn-white">
                  <i class="fa fa-times"></i>
                </a>
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">
                  {{task.tagName}}
                </a>
                &nbsp;&nbsp;
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="updateFirebaseTodos()">Save</button>
          &nbsp;&nbsp;&nbsp;&nbsp;{{savedDisplay}}
        </div>
      </div>
    </div>

  <!-- Fourth column -->

    <div class="col-lg-4" ng-show="listBools[3]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>To-do</h3>
          <!-- <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p> -->

          <div class="input-group">
            <div class="col-sm-10">
              <form ng-submit="addTask(3)">
                <div class="input-group m-b">
                  <span class="input-group-btn">
                    <input type="text" style="width:60%" placeholder="Add new task. " ng-model="inputFields[3]" class="input input-sm form-control">
                    <button type="submit" class="btn btn-white"><i class="fa fa-plus"></i> Add task</button> 
                  </span> 
                </div>
              </form>
            </div>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[3].$save()" ng-model="lists[3]">
            <li class="{{task.statusClass}}-element" ng-repeat="task in lists[3]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="deleteTask(task, 3)" href="#" class="pull-right btn btn-xs btn-white">
                  <i class="fa fa-times"></i>
                </a>
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">
                  {{task.tagName}}
                </a>
                &nbsp;&nbsp;
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="updateFirebaseTodos()">Save</button>
          &nbsp;&nbsp;&nbsp;&nbsp;{{savedDisplay}}
        </div>
      </div>
    </div>

  <!-- Fifth column -->

    <div class="col-lg-4" ng-show="listBools[4]">
      <div class="ibox">
        <div class="ibox-content">
          <h3>To-do</h3>
          <!-- <p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p> -->

          <div class="input-group">
            <div class="col-sm-10">
              <form ng-submit="addTask(4)">
                <div class="input-group m-b">
                  <span class="input-group-btn">
                    <input type="text" style="width:60%" placeholder="Add new task. " ng-model="inputFields[4]" class="input input-sm form-control">
                    <button type="submit" class="btn btn-white"><i class="fa fa-plus"></i> Add task</button> 
                  </span> 
                </div>
              </form>
            </div>
          </div>

          <ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-change="lists[4].$save()" ng-model="lists[4]">
            <li class="{{task.statusClass}}-element" ng-repeat="task in lists[4]">
              {{task.content}}
              <div class="agile-detail">
                <a ng-click="deleteTask(task, 4)" href="#" class="pull-right btn btn-xs btn-white">
                  <i class="fa fa-times"></i>
                </a>
                <a ng-click="cycleTag(task)" href="#" class="pull-right btn btn-xs btn-white">
                  {{task.tagName}}
                </a>
                &nbsp;&nbsp;
                <i class="fa fa-clock-o"></i> {{task.date}}
              </div>
            </li>
          </ul>
          <button class="btn btn-primary" ng-click="updateFirebaseTodos()">Save</button>
          &nbsp;&nbsp;&nbsp;&nbsp;{{savedDisplay}}
        </div>
      </div>
    </div>
  </div>
</div>