<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>File Manager</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <strong>File Manager</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-md-3">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="file-manager">
            <a ui-sref="index.texteditor"><button class="btn btn-primary btn-block">New Document</button></a>
            <div class="clearfix"></div>
            <!-- Start File Content -->
            <div class="col-lg-9 animated fadeInRight">
              <div class="row">
                <div class="col-lg-12">
                  <h5>Files</h5>

                  <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                  Your files will appear here as you create them.

                </div>
              </div>
              </div>
              <!--End File Content-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
