<!-- Wrapper-->
<div id="wrapper">

  <!-- Navigation -->
  <div ng-include="'components/common/navigation.html'" ng-controller="CommonCtrl"></div>

  <!-- Page wraper -->
  <!-- ng-class with current state name give you the ability to extended customization your view -->
  <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

    <!-- Page wrapper -->
    <div ng-include="'components/common/topnavbar.html'" ng-controller="CommonCtrl"></div>

    <!-- Main view  -->
    <div ui-view></div>

    <!-- Footer -->
    <div ng-include="'components/common/footer.html'"></div>

  </div>
  <!-- End page wrapper-->

  <!-- Right Sidebar -->
  <div ng-include="'components/common/rightSidebar.html'"></div>

</div>
<!-- End wrapper-->