<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">{{main.userName}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    E+
                </div>

            </li>
            <!-- Navigation Items-->
            <li ui-sref-active="active">
                <a ui-sref="index.home"><i class="fa fa fa-home"></i> <span class="nav-label">Home</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.calendar"><i class="fa fa-calendar"></i> <span class="nav-label">Calendar</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.chat"><i class="fa fa-comment"></i> <span class="nav-label">Chat</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.projects"><i class="fa fa-briefcase"></i> <span class="nav-label">Projects</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.team"><i class="fa fa-users"></i> <span class="nav-label">Team Directory</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.documents"><i class="fa fa-file-word-o"></i> <span class="nav-label">Documents</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.texteditor"><i class="fa fa-file-text-o"></i> <span class="nav-label">Text Editor</span></a>
            </li>
        </ul>

    </div>
</nav>