<div id="right-sidebar" ng-show="rightSidebar" class="sidebar-open"  ng-controller="IMCtrl">
  <div class="sidebar-container" full-scroll>

    <ul class="nav nav-tabs navs-2">

      <li ng-class="{active: tab1}"><a data-tab-number="1" ng-click="switchTabs($event)" ng-init="tab1 = true">
        Contacts
      </a></li>
      <li ng-class="{active: tab2}"><a  data-tab-number="2" ng-click="switchTabs($event)">
        Messages
      </a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" ng-class="{active: tab1}">
        <div>
          <div class="sidebar-message" ng-repeat="friend in allFriends">
            <a data-click-id="{{friend.$id}}" data-click-name="{{friend.displayName}}" ng-click="loadMessages($event)">
              <div class="pull-left text-center">
                <img alt="image" class="img-circle message-avatar" data-click-id="{{friend.$id}}" data-click-name="{{friend.displayName}}" ng-src="{{friend.imgUrl}}">
              </div>
              <div class="media-body" data-click-id="{{friend.$id}}" data-click-name="{{friend.displayName}}">
                {{friend.displayName}}
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="tab-pane" ng-class="{active: tab2}">
        <div class="im-heading">
          {{clickedUserName}}
        </div>
        <div class="small-chat-box ng-small-chat">
          <div class="content">
            <div ng-repeat="message in myMessages">
              <div ng-class="rightOrLeft(message.sender)">
                <div class="author-name">
                  {{message.displayName}} 
                  <small class="chat-date">
                    {{message.displayDate}}
                  </small>
                </div>
              <div class="chat-message active">
                {{message.text}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <form ng-submit="addMessage()" class="form-chat imSend">
        <div class="input-group input-group-sm"><input ng-model="message" type="text" class="form-control"> <span class="input-group-btn"> <button
          class="btn btn-primary" type="button">Send
        </button> </span></div>
      </form>
    </div>
  </div>

  </div>
</div>