<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <select class="team-select btn btn-white dropdown-toggle" ng-options="team as team.$value for team in usersTeams" ng-model="common.selectedTeam" ng-change="common.changeContext()">
        <option value="">Choose a Team</option>
      </select>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li>
        <a ng-click="common.signOut()">
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li>
    </ul>
  </nav>
</div>