<div class="row border-bottom">
  <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">

    <div class="navbar-header">
      <span minimaliza-sidebar></span>
    </div>
    <ul class="nav navbar-top-links navbar-left">
      <li>
        <a ui-sref="index.home"><i class="fa fa-group"></i>{{selectedTeam.$value}}</a>
      </li>
    </ul>
    <div class="logo-wrapper">
      <span class="navbar-brand">
        <img src="img/equipp_icon_blue.png" class="logo" /> Equipp
      </span>
    </div>
    <ul class="nav navbar-top-links navbar-right">
      <li style="text-al">
        <a ng-click="signOut()">
          <i class="fa fa-sign-out"></i> Log out
        </a>
      </li>
      <li>
        <a ng-click="$root.rightSidebar = !$root.rightSidebar">
          <!-- <span class="message-alert badge badge-warning pull-right">5</span> -->
          <i class="fa fa-comment"></i>
        </a>
      </li>
    </ul>

  </nav>
</div>