<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Contact List</h2>
    <ol class="breadcrumb">
      <li>
         <a href="index.html#/index">Home</a>
      </li>
      <li class="active">
        <strong>Contact List</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="{{mainPageClass}}">
      <div class="ibox">
        <div class="ibox-content">
          <div class="input-group">
            <input type="text" placeholder="Search for contacts" class="input col-sm-6 form-control" ng-model="searchString">
          </div>
          <div class="clients-list">

            <!-- Contact List -->

            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <div class="full-height-scroll" full-scroll>
                  <div class="table-responsive">
                    <i ng-show="loading" class="center fa fa-spinner fa-spin fa-5x"></i>
                    <table class="table table-hover">
                      <tbody>
                        <tr ng-repeat="contact in teamContacts | contactSearch:searchString" style="cursor:pointer">
                          <td class="client-avatar" ng-click="viewContact(contact)"><img alt="image" ng-src="{{contact.imgUrl}}"> </td>
                          <td ng-click="viewContact(contact)"><a class="client-link">{{contact.displayName}}</a></td>
                          <td class="contact-type"><i class="fa fa-phone"> </i></td>
                          <td ng-click="viewContact(contact)">{{getUserPhoneNumber(contact)}}</td>
                          <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                          <td class="client-status" ng-click="viewContact(contact)">{{contact.email}}</td>
                          <td class="client-status" ng-show="currentContact === null" ng-click="viewContact(contact)"><span class="label label-primary">Click for more info!</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact Info -->
    
    <div class="{{sideViewClass}}" ng-show="(currentContact !== null)" ng-click="undisplayContact()">
      <div class="ibox">
        <div class="ibox-content">
          <div class="ibox-tools dropdown">
            <i class="close-contact fa fa-times"></i>
          </div>
          <div class="tab-content">
            <div id="contact-1" class="tab-pane active" >
              <div class="row m-b-lg">
                <div class="col-lg-3 text-center">
                  <div class="m-b-sm">
                    <img alt="image" class="img-circle" ng-src="{{currentContact.imgUrl}}"
                    style="width: 62px">
                  </div>
                </div>
                <div class="col-lg-9">
                  <h2>{{currentContact.displayName}}</h2>
                  <a href="mailto:{{currentContact.email}}">
                    <button type="button" class="btn btn-primary btn-sm btn-block email"><i
                      class="fa fa-envelope"></i> Send Email
                    </button>
                  </a>

                  <table class="contact-table">
                    <tr>
                      <td> 
                         <span class="contact-type"><i class="fa fa-phone" > </i></span>
                      </td>
                      <td>
                          &nbsp;{{getUserPhoneNumber(currentContact)}}
                      </td>
                    </tr>
                    <tr ng-show="provided('Twitter')">
                      <td> 
                         <i class="fa fa-twitter"><i/>  
                      </td>
                      <td>
                        &nbsp;<a target="_blank" href="http://{{currentContact.Twitter}}">{{currentContact.Twitter}}</a>
                      </td>
                    </tr>                   
                    <tr ng-show="provided('LinkedIn')">
                      <td> 
                         <i class="fa fa-linkedin"><i/>  
                      </td>
                      <td>
                        &nbsp;<a target="_blank" href="http://{{currentContact.LinkedIn}}">{{currentContact.LinkedIn}}</a>
                      </td>
                    </tr>                    
                    <tr ng-show="provided('Facebook')">
                      <td> 
                         <i class="fa fa-facebook-square"><i/>  
                      </td>
                      <td>
                        &nbsp;<a target="_blank" href="http://{{currentContact.Facebook}}">{{currentContact.Facebook}}</a>
                      </td>
                    </tr>                   
                    <tr ng-show="provided('GitHub')">
                      <td> 
                         <i class="fa fa-github"><i/>  
                      </td>
                      <td>
                        &nbsp;<a target="_blank" href="http://{{currentContact.GitHub}}">{{currentContact.GitHub}}</a>
                      </td>
                    </tr>  
                    <tr ng-show="provided('Other')">
                      <td> 
                         <i class="fa fa-info"><i/>  
                      </td>
                      <td>
                        &nbsp;<a target="_blank" href="http://{{currentContact.Other}}">{{currentContact.Other}}</a>
                      </td>
                    </tr>                 
                  </table>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>