<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Contact List</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <strong>Contact List</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row">
    <div class="{{contactCtrl.mainPageClass}}">
      <div class="ibox">
        <div class="ibox-content">
          <div class="input-group">
            <input type="text" placeholder="Search for contacts" class="input col-sm-6 form-control" ng-model="contactCtrl.searchString">
          </div>
          <div class="clients-list">


            <!-- Contact List -->

            <div class="tab-content">
              <div id="tab-1" class="tab-pane active">
                <div class="full-height-scroll" full-scroll>
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <tbody>
                        <tr ng-repeat="contact in contactCtrl.teamContacts | contactSearch:contactCtrl.searchString" style="cursor:pointer">
                          <td class="client-avatar" ng-click="contactCtrl.viewContact(contact)"><img alt="image" src="{{contactCtrl.getUserPicture(contact)}}"> </td>
                          <td ng-click="contactCtrl.viewContact(contact)"><a class="client-link">{{contact.displayName}}</a></td>
                          <td class="contact-type"><i class="fa fa-phone"> </i></td>
                          <td ng-click="contactCtrl.viewContact(contact)">{{contactCtrl.getUserPhoneNumber(contact)}}</td>
                          <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                          <td class="client-status" ng-click="contactCtrl.viewContact(contact)">{{contact.email}}</td>
                          <td class="client-status" ng-show="contactCtrl.currentContact === null" ng-click="contactCtrl.viewContact(contact)"><span class="label label-primary">Click for more info!</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact Info -->
    <div class="{{contactCtrl.sideViewClass}}" ng-show="(contactCtrl.currentContact !== null)" ng-click="contactCtrl.undisplayContact()">
      <div class="ibox ">
        <div class="ibox-content">
          <div class="ibox-tools dropdown" ng-click="contactCtrl.undisplayContact()">
            <i class="fa fa-times"></i>
          </div>
          <div class="tab-content">
            <div id="contact-1" class="tab-pane active" >
              <div class="row m-b-lg">
                <div class="col-lg-4 text-center">
                  <h2>{{contactCtrl.currentContact.name}}</h2>
                  <div class="m-b-sm">
                    <img alt="image" class="img-circle" src="{{contactCtrl.getUserPicture(contactCtrl.currentContact)}}"
                    style="width: 62px">
                  </div>
                </div>
                <div class="col-lg-8">
                  <strong>
                    About me
                  </strong>
                  <p>
                    About Me goes here: {{contactCtrl.currentContact.aboutMe}}
                  </p>

                  <a href="mailto:{{contactCtrl.currentContact.email}}">
                    <button type="button" class="btn btn-primary btn-sm btn-block"><i
                      class="fa fa-envelope"></i> Send Email
                    </button>
                  </a>

                  <table>
                    <tr>
                      <td> 
                         <span class="contact-type"><i class="fa fa-phone" > </i></span>
                      </td>
                      <td>
                        {{contactCtrl.getUserPhoneNumber(contactCtrl.currentContact)}}
                      </td>
                    </tr>
                    <tr>
                      <td> 
                         <img height="20" width="20" src="/img/twitter.png"><img/>  
                      </td>
                      <td>
                        {{contactCtrl.getUserInfoPiece(contactCtrl.currentContact, "twitter")}}
                      </td>
                    </tr>                    <tr>
                      <td> 
                         <img height="20" width="20" src="/img/linkedin.png"><img/>  
                      </td>
                      <td>
                        {{contactCtrl.getUserInfoPiece(contactCtrl.currentContact, "LinkedIn")}}
                      </td>
                    </tr>                    <tr>
                      <td> 
                          <img height="20" width="20" src="/img/facebook.png"><img/>  
                      </td>
                      <td>
                        {{contactCtrl.getUserInfoPiece(contactCtrl.currentContact, "Facebook")}}
                      </td>
                    </tr>                    <tr>
                      <td> 
                         <img height="20" width="20" src="/img/github.png"><img/>  
                      </td>
                      <td>
                        {{contactCtrl.getUserInfoPiece(contactCtrl.currentContact, "GitHub")}}
                      </td>
                    </tr>                  
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>