<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Calendar</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <strong>Calendar</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content" ng-controller="CalendarCtrl">
  <div class="row animated fadeInDown">

    <div class="col-lg-12">
      <div class="ibox float-e-margins col-sm-8">
        <div class="ibox-title">
          <h5>Your Calendar</h5>
          <div ibox-tools></div>
        </div>

        <div class="ibox-content ui-calendar">
          <div class="btn-toolbar">
            <p class="lead">Your Calendar</p>
          </div>
          <div ui-calendar="calendar.uiConfig.calendar" config="uiConfig.calendar" calendar="myCalendar" class="calendar" ng-model="calendar.eventSources"></div>
        </div>
      </div>

      <div name="userForm" class="calendarForm col-sm-4">
        <p>
          <div class="row event">
            <label class="col-sm-4 control-label">Event Title</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Your Event Title" ng-model="calendar.title">
            </div>
          </div>

          <div class="row event">
            <label class="col-sm-4 control-label">Start Date</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" placeholder="20" ng-model="calendar.startDate">
            </div>
          </div>

          <div class="row event">
            <label class="col-sm-4 control-label">Time</label>
            <div class="col-sm-8">
              <input type="time" class="form-control" placeholder="16" ng-model="calendar.startTime">
            </div>
          </div>
        </p>

        <p>
          <div class="row event">
            <label class="col-sm-4 control-label">End Date</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" placeholder="20" ng-model="calendar.endDate">
            </div>
          </div>

          <div class="row event">
            <label class="col-sm-4 control-label">Time</label>
            <div class="col-sm-8">
              <input type="time" class="form-control" placeholder="16" ng-model="calendar.endTime">
            </div>
          </div>
        </p>

        <div>
          <div class="row event">
            <div class="col-sm-8 col-sm-offset-4">
              <button class="btn btn-primary" ng-click="calendar.saveNewEvent()">Add Event</button>
            </div>
          </div>
        </div>
      </div> <!-- userForm -->
    </div> <!-- col-lg-12 -->

  </div>
</div>




