<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Calendar</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <strong>Calendar</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content" ng-controller="CalendarCtrl">
  <div class="row">

    <div class="col-lg-12">
      <div class="ibox float-e-margins col-sm-9">

        <div class="ibox-content ui-calendar">
          <div ui-calendar="uiConfig.calendar" config="uiConfig.calendar" calendar="myCalendar" class="calendar" ng-model="calendar.eventSources"></div>
        </div>
      </div>

      <div name="userForm" class="calendarForm col-sm-3">
        <p>
          <div class="row event">
            <label class="col-sm-5 control-label events-form-label">Event Title</label>
            <div class="col-sm-7 events-form">
              <input type="text" class="form-control" placeholder="Your Event Title" ng-model="calendar.title">
            </div>
          </div>

          <div class="row event events-form-row">
            <label class="col-sm-5 control-label events-form-label">Date</label>
            <div class="col-sm-7 events-form">
              <input type="date" class="form-control" placeholder="20" ng-model="calendar.startDate">
            </div>
          </div>

          <div class="row event events-form-row">
            <label class="col-sm-5 control-label events-form-label">Full Day</label>
            <div class="col-sm-7 events-form">
              <input type="checkbox" ng-model="calendar.fulldayEvent">
            </div>
          </div>
        </p>

        <div ng-hide="calendar.fulldayEvent">
          <div class="row event events-form-row">
            <label class="col-sm-5 control-label events-form-label">Begin</label>
            <div class="col-sm-7 events-form">
              <input type="time" class="form-control" placeholder="16" ng-model="calendar.startTime">
            </div>
          </div>

          <div class="row event events-form-row">
            <label class="col-sm-5 control-label events-form-label">End</label>
            <div class="col-sm-7 events-form">
              <input type="time" class="form-control" placeholder="16" ng-model="calendar.endTime">
            </div>
          </div>

          <div class="row event events-form-row">
            <label class="col-sm-5 control-label events-form-label">Same Day</label>
            <div class="col-sm-7 events-form">
              <input type="checkbox" ng-model="calendar.sameDay">
            </div>
          </div>

          <div ng-hide="calendar.sameDay">
            <div class="row event events-form-row">
              <label class="col-sm-5 control-label events-form-label">End Date</label>
              <div class="col-sm-7 events-form">
                <input type="date" class="form-control" placeholder="20" ng-model="calendar.endDate">
              </div>
            </div>
          </div>
        </div>

        <p>
          <div class="row event">
            <div class="col-sm-offset-5 events-form-label">
              <div class="col-sm-4 events-form">
                <button class="btn btn-primary btn-sm" ng-click="calendar.saveNewEvent()">Add</button>
              </div>
              <div class="col-sm-8 events-form">
                <button class="btn btn-white btn-sm" ng-click="calendar.setInputDefaults()">Cancel</button>
              </div>
            </div>
          </div>
        </p>
      </div> <!-- userForm -->

    </div> <!-- col-lg-12 -->
  </div> <!-- row -->
</div> <!-- wrapper -->
