<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Team Settings</h2>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="index.home">Home</a>
      </li>
      <li>
          Settings
      </li>
      <li class="active">
        <strong>{{currentTab}}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="center loading-spinner" ng-show="loading" >
      <i class="center fa fa-spinner fa-spin fa-5x" ></i>
    </div>
    <div ng-hide="loading" class="wrapper wrapper-content">
      <div class="ibox">

        <!-- Box title -->

        <div class="ibox-title">
          <h5>{{currentTab}}</h5>

          <div class="ibox-tools" ng-show="currentTab === 'Team List'">
            <button ng-click="setTab('Create A Team')" class="btn btn-primary btn-xs">
              Create new team
            </button>
          </div>
          <div class="ibox-tools" ng-show="currentTab !== 'Team List'">
            <button ng-click="setTab('Team List')" class="btn btn-primary btn-xs">
              Back to Team List
            </button>
          </div>
        </div>

        <!-- Team List tab -->

        <div class="ibox-content" ng-show="currentTab === 'Team List'">

          <div class="row m-b-sm m-t-sm team-edit-padding-25">
            <h3 class="team-edit-join-title">Join a team</h3>
            <!-- <br/> -->
            <form ng-submit="tryToJoinTeam()">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="teamJoinString" placeholder="Enter a team name to join">
                <span class="input-group-btn"> 
                  <button type="submit" class="btn btn-primary">
                    Go!
                  </button> 
                </span>
              </div>
            </form>
          </div>
          <div class="hr-line-dashed"></div>
          <br/>


          <!-- Search bar -->

          <h3 class="team-edit-search-bar">Your Teams</h3>
          <div class="col-md-12 team-edit-search-bar">
          </div>

          <!-- List of teams -->

          <div class="project-list">
            <table class="table table-hover" >
              <tbody>
                <tr ng-repeat="team in teams | teamSearch:searchString">
                  <td class="project-title">
                    <a ui-sref="team_detail">{{team.$id}}</a>
                  </td>
                  <td class="project-people">
                    <span ng-repeat="userId in team.users">
                      <a href="google.com">
                        <img alt="image" class="img-circle" ng-src="{{getUserPicture(userId)}}">
                      </a>
                    </span>
                  </td>
                  <td class="project-actions">
                    <!-- <a href="" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a> -->
                    <a ng-click="setTab('Edit Team', team)" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a> 
                    <a ng-click="leaveTeam(team)" class="btn btn-white btn-sm"><i class="fa fa-user-times"></i> Leave </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <h2 ng-show="triedToLeave">
              You can't leave your last team! 
            </h2>
          </div>
        </div>

        <!-- Create and Edit Team tabs -->

        <div class="ibox-content" ng-show="currentTab === 'Create A Team' || currentTab === 'Edit Team'">
          <div class="row">
            <div class="col-lg-8">
              <div class="ibox float-e-margins">
                <div>

                  <!-- Displayed team -->
                  
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td class="project-title">
                          <a ui-sref="team_detail">{{editingTeam.$id}}</a>
                          <br/>
                        </td>
                        <td class="project-people">
                          <span ng-repeat="user in editingTeamUserlist"><img alt="image" class="img-circle" ng-src="{{getUserPicture(user.$id)}}"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                    <div class="ibox-content">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="Team Title" ng-model="editingTeam.$id"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                      <div class="ibox-content">
                        <label ng-click="flipPresence(user)" ng-repeat="user in allUsers" class="project-people teamuserHover pull-right" ng-hide="hideOwnUser(user)">
                          <div> 
                            <img alt="image" class="img-circle" ng-src="{{getUserPicture(user.$id)}}"></img>
                            <span class="teamuserName">{{user.displayName}}</span>
                          </div>
                        </label>
                      </div>
                    </div>
                    <h2 ng-show="triedToLeave" class="team-edit-padding-20">
                        You can't leave your last team!
                    </h2>
                    <div class="input-group m-b">
                      <button type="button" ng-show="currentTab === 'Create A Team'" ng-click="createTeamSubmit()" class="btn btn-primary">Create a new team!</button> 
                      <button type="button" ng-show="currentTab === 'Edit Team'" ng-click="editTeamSubmit()" class="btn btn-primary team-edit-btn">Save changes!</button>   
                      <button type="button" ng-show="currentTab === 'Edit Team'" ng-click="editTeamDelete()" class="btn btn-primary team-edit-btn">Delete this team</button>
                      <button type="button" ng-show="currentTab === 'Edit Team' || currentTab === 'Create A Team'" ng-click="setTab('Team List')" class="btn btn-primary team-edit-btn">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>