<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-8">
    <h2>Team Edit Directory</h2>
    <ol class="breadcrumb">
      <li>
         <a href="index.html#/index">Home</a>
      </li>
      <li class="active">
        <strong>{{teamEditCtrl.currentTab}}</strong>
      </li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="ibox">

        <!-- Box title -->

        <div class="ibox-title">
          <h5>{{teamEditCtrl.currentTab}}</h5>

          <div class="ibox-tools" ng-show="teamEditCtrl.currentTab === 'Team List'">
            <button ng-click="teamEditCtrl.setTab(1)" class="btn btn-primary btn-xs">
              Create new team
            </button>
          </div>
          <div class="ibox-tools" ng-show="teamEditCtrl.currentTab !== 'Team List'">
            <button ng-click="teamEditCtrl.setTab(0)" class="btn btn-primary btn-xs">
              Back to Team List
            </button>
          </div>
        </div>

        <!-- Team List tab -->

        <div class="ibox-content" ng-show="teamEditCtrl.currentTab === 'Team List'">

          <!-- Search bar -->

          <div class="row m-b-sm m-t-sm">
            <div class="col-md-11">
              <div class="input-group">
                <input type="text" ng-model="teamEditCtrl.searchString" placeholder="Search" class="input-lg form-control"> 
              </div>
            </div>
          </div>

          <!-- List of teams -->

          <div class="project-list">
            <table class="table table-hover" >
              <tbody>
                <tr ng-repeat="team in teamEditCtrl.teams | teamSearch:teamEditCtrl.searchString">
                  <td class="project-title">
                    <a ui-sref="team_detail">{{team.$id}}</a>
                    <br/>
                    <small>Created at {{team.createdAt}}</small>
                  </td>
                  <td class="project-people">
                    <span ng-repeat="userId in team.users">
                      <a href="google.com">
                        <img alt="image" class="img-circle" src="{{teamEditCtrl.getUserPicture(userId)}}">
                      </a>
                    </span>
                  </td>
                  <td class="project-actions">
                    <!-- <a href="" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a> -->
                    <a ng-click="teamEditCtrl.setTab(2, team)" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a> 
                    <a ng-click="teamEditCtrl.leaveTeam(team)" class="btn btn-white btn-sm"><i class="fa fa-user-times"></i> Leave </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Create and Edit Team tabs -->

        <div class="ibox-content" ng-show="teamEditCtrl.currentTab === 'Create A Team' || teamEditCtrl.currentTab === 'Edit Team'">
          <div class="row">
            <div class="col-lg-8">
              <div class="ibox float-e-margins">
                <div>

                  <!-- Displayed team -->
                  
                  <table class="table table-hover">
                    <tbody>
                      <tr>
                        <td class="project-title">
                          <a ui-sref="team_detail">{{teamEditCtrl.editingTeam.$id}}</a>
                          <br/>
                        </td>
                        <td class="project-people">
                          <span ng-repeat="user in teamEditCtrl.editingTeamUserlist"><a href="google.com"><img alt="image" class="img-circle" src="{{teamEditCtrl.getUserPicture(user.$id)}}"></a></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                    <div class="ibox-content">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10"><input type="text" class="form-control" placeholder="Team Title" ng-model="teamEditCtrl.editingTeam.$id"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                      <div class="ibox-content">
                        <label ng-click="teamEditCtrl.flipPresence(user)" ng-repeat="user in teamEditCtrl.allUsers" style="text-align:left;" class="project-people teamuserHover" ng-hide="teamEditCtrl.hideOwnUser(user)">
                          <div> 
                            <img alt="image" class="img-circle" src="{{teamEditCtrl.getUserPicture(user.$id)}}"></img>
                            <span class="teamuserName">{{user.displayName}}</span>
                          </div>
                        </label>
                      </div>
                    </div>
                    <div class="input-group m-b">
                      <button type="button" ng-show="teamEditCtrl.currentTab === 'Create A Team'" ng-click="teamEditCtrl.createTeamSubmit()" class="btn btn-primary">Create a new team!</button> 
                      <button type="button" ng-show="teamEditCtrl.currentTab === 'Edit Team'" ng-click="teamEditCtrl.editTeamSubmit()" class="btn btn-primary">Save changes!</button>   
                      <button style="margin-left:20px" type="button" ng-show="teamEditCtrl.currentTab === 'Edit Team'" ng-click="teamEditCtrl.editTeamDelete()" class="btn btn-primary">Delete this team</button>
                      <button style="margin-left:20px" type="button" ng-show="teamEditCtrl.currentTab === 'Edit Team'" ng-click="teamEditCtrl.setTab(0)" class="btn btn-primary">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>