<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Project Directory</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>{{projectCtrl.currentTab}}</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="ibox">

                <!-- Box title -->

                <div class="ibox-title">
                    <h5>{{projectCtrl.currentTab}}</h5>

                    <div class="ibox-tools" ng-show="projectCtrl.currentTab === 'Project List'">
                        <button ng-click="projectCtrl.setTab(1)" class="btn btn-primary btn-xs">
                            Create new project
                        </button>
                    </div>
                    <div class="ibox-tools" ng-show="projectCtrl.currentTab !== 'Project List'">
                        <button ng-click="projectCtrl.setTab(0)" class="btn btn-primary btn-xs">
                            Project List
                        </button>
                    </div>
                </div>

                <!-- Project List tab -->
                <div class="ibox-content" ng-show="projectCtrl.currentTab === 'Project List'">

                    <!-- Search bar -->

                    <div class="row m-b-sm m-t-sm">
                        <div class="col-md-11">
                            <div class="input-group">
                                <input type="text" ng-model="projectCtrl.searchString" placeholder="Search" class="input-lg form-control"> 
                            </div>
                        </div>
                    </div>

                    <!-- List of projects -->

                    <div class="project-list">
                    <table class="table table-hover" >
                    <tbody>
                        <tr ng-repeat="project in projectCtrl.projects | projectSearch:projectCtrl.searchString">
                            <td class="project-status">
                                <span class="label label-primary">{{project.label}}</span>
                            </td>
                            <td class="project-title">
                                <a ui-sref="project_detail">{{project.name}}</a>
                                <br/>
                                <small>Created 14.08.2014</small>
                            </td>
                            <td class="project-completion">
                                <small>Completion with: {{project.completion}}%</small>
                                <div class="progress progress-mini">
                                    <div style="width: {{project.completion}}%;" class="progress-bar"></div>
                                </div>
                            </td>
                            <td class="project-people">
                                <span ng-repeat="user in project.userList">
                                    <a href="google.com">
                                        <img alt="image" class="img-circle" src="{{projectCtrl.getUserPicture(user)}}">
                                    </a>
                                </span>
                            </td>
                            <td class="project-actions">
                                <a href="" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> View </a>
                                <a ng-click="projectCtrl.editProject(project)" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Edit </a>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                </div>

                <!-- Create and Edit Project tabs (there is a lot of overlap) -->
                <div class="ibox-content" ng-show="projectCtrl.currentTab === 'Create A Project' || projectCtrl.currentTab === 'Edit Project'">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="ibox float-e-margins">
                                <div>
                                    <!-- Displayed project -->
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <td class="project-status">
                                                    <span class="label label-primary">{{projectCtrl.editingProject.label}}</span>
                                                </td>
                                                <td class="project-title">
                                                    <a ui-sref="project_detail">{{projectCtrl.editingProject.name}}</a>
                                                    <br/>
                                                    <small>Created 14.08.2014</small>
                                                </td>
                                                <td class="project-completion">
                                                    <small>Completion with: {{projectCtrl.editingProject.completion}}%</small>
                                                    <div class="progress progress-mini">
                                                        <div style="width: {{projectCtrl.editingProject.completion}}%;" class="progress-bar"></div>
                                                    </div>
                                                </td>
                                                <td class="project-people">
                                                    <span ng-repeat="user in projectCtrl.editingProject.userList"><a href="google.com"><img alt="image" class="img-circle" src="{{projectCtrl.getUserPicture(user)}}"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="ibox-title">
                                    <div ibox-tools></div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Title</label>
                                                <div class="col-sm-10"><input type="text" class="form-control" placeholder="Project Title" ng-model="projectCtrl.editingProject.name"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ibox float-e-margins">
                                        <div class="ibox-content">
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label">Label</label>
                                                <div class="col-sm-10"><input type="text" class="form-control" placeholder="Label" ng-model="projectCtrl.editingProject.label"></div>
                                            </div>
                                        </div>
                                    </div>                                    
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content">
                                                <div ng-repeat="user in projectCtrl.allUsers">
                                                <label style="text-align:left;" class="project-people projectuserHover" ng-click="projectCtrl.flipPresence(user)"> 
                                                    <img alt="image" class="img-circle" src="{{projectCtrl.getUserPicture(user)}}"></img>
                                                    <span class="projectuserName">{{user.name}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="ibox float-e-margins">
                                            <div class="ibox-content">
                                                <h4>
                                                    Completion percentage
                                                </h4>
                                                <div class="row m-b-lg">
                                                    <div slider ng-model="projectCtrl.editingProject.completion" start=0 end=100></div>
                                                    <br/>
                                                    {{projectCtrl.editingProject.completion}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group m-b">
                                        <button type="button" ng-show="projectCtrl.currentTab === 'Create A Project'" ng-click="projectCtrl.createProjectSubmit()" class="btn btn-primary">Create a new project!</button> 
                                        <button type="button" ng-show="projectCtrl.currentTab === 'Edit Project'" ng-click="projectCtrl.editProject()" class="btn btn-primary">Save changes!</button>                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>