<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Team Directory</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li class="active">
        <strong>Team Directory</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-sm-8">
      <div class="ibox">
        <div class="ibox-content">
          <span class="text-muted small pull-right">Last modification: <i class="fa fa-clock-o"></i> 2:10 pm - 12.06.2014</span>
          <h2>Clients</h2>
          <div class="input-group">
            <input type="text" placeholder="Search for team members" ng-show="teamCtrl.tab === 1" class="input col-sm-6 form-control" ng-model="teamCtrl.searchString">
            <input type="text" placeholder="Search for clients " ng-show="teamCtrl.tab === 2" class="input form-control" ng-model="teamCtrl.searchString">
          </div>
          <div class="clients-list">

            <!-- Tabs --> 

            <ul class="nav nav-tabs">
              <span class="pull-right small text-muted" ng-show="teamCtrl.tab === 1">(little spot for <br/>total team members)</span>
              <span class="pull-right small text-muted" ng-show="teamCtrl.tab === 2">(little spot for <br/>total clients)</span>
              <li ng-class="{'active' : teamCtrl.tab == 1}"><a ng-click="teamCtrl.setTab(1)" ><i class="fa fa-user"></i>Contacts</a></li>
              <li ng-class="{'active' : teamCtrl.tab == 2}"><a ng-click="teamCtrl.setTab(2)"><i class="fa fa-briefcase"></i> Companies</a></li>
            </ul>

            <!-- Team Member List -->

            <div class="tab-content">
              <div id="tab-1" class="tab-pane active" ng-show="teamCtrl.tab == 1">
                <div class="full-height-scroll" full-scroll>
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <tbody>
                        <tr ng-repeat="user in teamCtrl.allUsers | search:teamCtrl.searchString" style="cursor:pointer">
                          <td class="client-avatar" ng-click="teamCtrl.viewUser(user)"><img alt="image" src="{{teamCtrl.getUserPicture(user)}}"> </td>
                          <td ng-click="teamCtrl.viewUser(user)"><a class="client-link">{{user.displayName}}</a></td>
                          <td ng-click="teamCtrl.viewUser(user)">Some info could go here</td>
                          <td ng-click="teamCtrl.viewUser(user)">Email:{{user.email}}</td>
                          <td ng-click="teamCtrl.viewUser(user)" class="client-status"><span class="label label-primary">More info?</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <!-- Client List -->

              <div id="tab-2" class="tab-pane active" ng-show="teamCtrl.tab == 2">
                <div class="full-height-scroll" full-scroll>
                  <div class="table-responsive">
                    <table class="table table-striped table-hover">
                      <tbody>
                        <tr ng-repeat="client in teamCtrl.allClients | search:teamCtrl.searchString" style="cursor:pointer">
                          <td class="client-avatar" ng-click="teamCtrl.viewClient(client)"><img alt="image" src="{{teamCtrl.getClientPicture(client)}}"> </td>
                          <td ng-click="teamCtrl.viewClient(client)" class="client-link">{{client.name}}</a></td>
                          <td ng-click="teamCtrl.viewClient(client)">{{client.location}}</td>
                          <td ng-click="teamCtrl.viewClient(client)"><i class="fa fa-flag"></i>{{client.nationality}}</td>
                          <td ng-click="teamCtrl.viewEditClient(client)" class="client-status"><div style="cursor:pointer" class="label label-primary">Edit client</div></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="full-height-scroll" full-scroll>
                  <div class="table-responsive">
                   <button style="margin-top:20px; width:200px;" ng-hide="teamCtrl.clientEditMode" type="button" ng-click="teamCtrl.viewNewClient()" class="btn btn-primary btn-sm btn-block">
                    Register a new client
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Member Info / Client Info -->

  <div class="col-sm-4">
    <div class="ibox " ng-show="(teamCtrl.currentClient !== null && teamCtrl.tab === 2) || (teamCtrl.currentTeamMember !== null && teamCtrl.tab === 1)">
      <div class="ibox-content">
        <div class="tab-content">
          <div id="contact-1" class="tab-pane active" >

            <!-- Team Member Info -->

            <div class="row m-b-lg"  ng-show="teamCtrl.tab == 1">
              <div class="col-lg-4 text-center">
                <h2>{{teamCtrl.currentTeamMember.name}}</h2>
                <div class="m-b-sm">
                  <img alt="image" class="img-circle" src="{{teamCtrl.getUserPicture(teamCtrl.currentTeamMember)}}"
                  style="width: 62px">
                </div>
              </div>
              <div class="col-lg-8">
                <strong>
                  About me
                </strong>

                <p>
                  About Me goes here: {{teamCtrl.currentTeamMember.aboutMe}}
                </p>
                <button type="button" class="btn btn-primary btn-sm btn-block"><i
                  class="fa fa-envelope"></i> Send Message
                </button>
              </div>
            </div>

            <!-- Client Info -->

            <div class="row m-b-lg" ng-show="(teamCtrl.tab == 2) && !teamCtrl.clientEditMode">
              <div class="col-lg-4 text-center">
                <h2>{{teamCtrl.currentClient.name}}</h2>
                <div class="m-b-sm">
                  <img alt="image" class="img-circle" src="{{teamCtrl.getClientPicture(teamCtrl.currentClient)}}"
                  style="width: 62px">
                </div>
                <strong>
                  About this company
                </strong>
                <p>
                  {{teamCtrl.currentClient.aboutMe}}
                </p>
                <button type="button" class="btn btn-primary btn-sm btn-block"><i
                  class="fa fa-envelope"></i> Send Message
                </button>
              </div>
            </div>


            <!-- Create a client -->

            <div class="row m-b-lg" ng-show="(teamCtrl.tab == 2) && teamCtrl.clientEditMode && teamCtrl.editingANewClient">
              <div class="input-group">
                <h2 style="padding:10px">New Client</h2>
                <input type="text" class="input col-sm-3 form-control" style="margin-bottom:8px;" placeholder="Name" ng-model="teamCtrl.currentClient.name">
                <input type="text" class="input col-sm-3 form-control" style="margin-bottom:8px;" placeholder="Location" ng-model="teamCtrl.currentClient.location">
                <input type="text" class="input col-sm-3 form-control" style="margin-bottom:8px;" placeholder="Nationality" ng-model="teamCtrl.currentClient.nationality">
                <input type="text" class="input col-sm-3 form-control" style="margin-bottom:8px;" placeholder="Phone Number" ng-model="teamCtrl.currentClient.phoneNumber">
                <textarea style="margin-bottom:20px" placeholder="About this company" class="input col-sm-3 form-control" ng-model="teamCtrl.currentClient.aboutMe"></textarea>
                <button style="margin-top:20px" type="button" ng-click="teamCtrl.registerNewClient()" class="btn btn-primary btn-sm btn-block">
                  Register a new client!
                </button>
              </div>
            </div>

            <!-- Edit a client -->

            <div class="row m-b-lg" ng-show="(teamCtrl.tab == 2) && teamCtrl.clientEditMode && !teamCtrl.editingANewClient">
              <div class="input-group">
                <h2 style="padding:10px">Editing {{teamCtrl.currentClient.name}}</h2>
                <input type="text" class="input col-sm-3 form-control" style="margin-bottom:8px;" placeholder="Name" ng-model="teamCtrl.currentClient.name">
                <input type="text" class="input col-sm-3 form-control" style="margin-bottom:8px;" placeholder="Location" ng-model="teamCtrl.currentClient.location">
                <input type="text" class="input col-sm-3 form-control" style="margin-bottom:8px;" placeholder="Nationality" ng-model="teamCtrl.currentClient.nationality">
                <input type="text" class="input col-sm-3 form-control" style="margin-bottom:8px;" placeholder="Phone Number" ng-model="teamCtrl.currentClient.phoneNumber">
                <textarea style="margin-bottom:20px" placeholder="About this company" class="input col-sm-3 form-control" ng-model="teamCtrl.currentClient.aboutMe"></textarea>
                <button style="margin-top:20px" type="button" ng-click="teamCtrl.editClientSubmit()" class="btn btn-primary btn-sm btn-block">
                  Save changes
                </button>
                <button style="margin-top:20px" type="button" ng-click="teamCtrl.editClientSubmit(true)" class="btn btn-primary btn-sm btn-block">
                  Delete this client
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>