<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content">
      <div class="row">
        <div class="col-lg-4" ng-controller="CommonCtrl">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5><i class="fa fa-group"></i>&nbsp;&nbsp;&nbsp;Choose Your Team</h5>
              <div ibox-tools></div>
            </div>
            <div class="ibox-content">
              <div>
                <select class="team-select btn btn-white dropdown-toggle"
                        ng-options="team.$value for team in usersTeams track by team.$id"
                        ng-model="currentTeamOption"
                        ng-change="changeContext()">
                </select>
              </div>
            </div>
          </div>
          <!-- Documents Widget -->
          <div ng-controller="DocumentCtrl" class="ibox float-e-margins">
            <div class="ibox-title">
              <h5><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;&nbsp;Recent Documents</h5>
              <a ui-sref="index.texteditor"><span class="label label-primary">New Document</span></a>
              <div ibox-tools></div>
            </div>
            <div class="ibox-content no-padding">
              <ul class="list-group">
                <li ng-repeat="document in documentWidget" class="list-group-item">
                  <p><a class="text-info" ui-sref="index.texteditor({ documentId: document.$id,
                                                     documentTitle: document.title,
                                                     documentBody: document.body})">{{document.title}}</a></p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Chat Widget-->
        <div class="col-lg-4">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5><i class="fa fa-comments-o"></i>&nbsp;&nbsp;&nbsp;Chat</h5>

              <div class="ibox-tools">
              </div>
            </div>
            <div class="ibox-content">

              <div>
                <div class="feed-activity-list" ng-controller="ChatCtrl as chat">

                  <div class="feed-element" ng-repeat="message in dashboardMessages">
                    <a ui-sref="profile" class="pull-left">
                      <img alt="image" class="img-circle" ng-src="{{message.userImg}}">
                    </a>

                    <div class="media-body ">
                      <small class="pull-right">{{message.chatName}}</small>
                      <strong>{{message.text}}</strong><br>
                      <small class="text-muted">{{message.createdAt}}</small>

                    </div>
                  </div>
                </div>
                <a ui-sref="index.chat">
                <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-right"></i> Go to Chat</button>
                </a>
              </div>

            </div>
          </div>

        </div>
        <!-- Calendar Widget -->
        <div class="col-lg-4">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5><i class="fa fa-calendar-o"></i>&nbsp;&nbsp;&nbsp;Today's Events</h5>
              <div ibox-tools></div>
            </div>
            <!-- Calendar Controller-->
            <div ng-controller="CalendarCtrl as calendar" class="ibox-content inspinia-timeline">

              <div class="timeline-item" ng-repeat="event in dashboardEvents">
                <div class="row">
                  <div class="col-xs-3 date">
                    {{event.startTime}}
                    <br>
                    {{event.endTime}}&nbsp;
                  </div>
                  <div class="col-xs-7 content no-top-border">
                    <p class="m-b-xs">
                      <strong>{{event.title}}</strong></p>


                  </div>
                </div>
              </div>
              <a ui-sref="index.calendar">
                <button class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-right"></i> Go to Calendar</button>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>