<div>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
      <h2>Settings</h2>
      <ol class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li class="active">
          <strong>Settings</strong>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins settings-display">
        <div class="ibox-title">
          <h5>Update your personal info</h5>
        </div>
        <div class="ibox-content">
          <form name="userForm" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">Display Name <br/> <span class="display-name">{{displayName || showDisplayName}}</span></label>
              <div class="col-sm-10">
                <input ng-focus="settings.checkSuccess()" type="text" class="form-control" placeholder="Emily Shenfield" ng-model="displayName">
              </div>
            </div>
            
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Phone Number <br/> <span class="phone-number">{{phoneNumber || showPhoneNumber}}</span></label>
              <div class="col-sm-10">
                <input type="text" ng-focus="settings.checkSuccess()" class="form-control" placeholder="4083180642 " ng-model="phoneNumber">
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group"><label class="col-sm-2 control-label">Social Links <br/> <span class="social-links">
              <i ng-show="showFacebook" title="{{showFacebook}}" class="fa fa-facebook-square"></i>
              <i ng-show="showGitHub" title="{{showGitHub}}" class="fa fa-github"></i>
              <i ng-show="showLinkedIn" title="{{showLinkedIn}}" class="fa fa-linkedin"></i>
              <i ng-show="showTwitter" title="{{showTwitter}}" class="fa fa-twitter"></i>
              <i ng-show="showOther" title="{{showOther}}" class="fa fa-info"></i>
            </span></label>
                <div class="input-group m-b">
                  <div class="input-group-btn">
                    <select ng-model="socialSelect" class="social-select btn btn-white dropdown-toggle col-sm-2">
                      <option value="first" selected>-Choose One-</option>
                      <option>Facebook</option>
                      <option>LinkedIn</option>
                      <option>GitHub</option>
                      <option>Twitter</option>
                      <option>Other</option>
                    </select>
                    <input type="text" ng-model="socialInput" ng-focus="settings.checkSuccess()" placeholder="www.github.com/seal" class="form-control social-input">
                  </div>
                </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Profile Photo URL</label>
              <div class="col-sm-10"> 
                <input type="text" class="form-control" ng-focus="settings.checkSuccess()" ng-model="imgUrl">
              </div>
            </div>

            <div class="hr-line-dashed"></div>

              <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10"> 
                  <button class="btn team-direct"><a ui-sref="index.teamedit">Manage Your Teams</a></button>
                </div>
              </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                <h2 ng-show="success">Saved!</h2>
                  <button class="btn btn-primary" ng-click="settings.saveUserInfo()">Save changes</button>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
