<div>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
      <h2>Account Settings</h2>
      <ol class="breadcrumb">
        <li>
          <a ui-sref="index.home">Home</a>
        </li>
          <li>
              Settings
          </li>
        <li class="active">
          <strong>Account</strong>
        </li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins settings-display">
        <div class="ibox-title">
          <h5>Personal Information</h5>
        </div>
        <div class="ibox-content">
          <form name="userForm" class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10 top-two-inputs">
                <input ng-focus="checkSuccess()" type="text" class="form-control" placeholder="{{showDisplayName || 'Jane Doe'}}" ng-model="displayName">
              </div>
            </div>
            
            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Phone Number</label>
              <div class="col-sm-10 top-two-inputs">
                <input type="text" ng-focus="checkSuccess()" class="form-control" placeholder="{{showPhoneNumber || '4085555555'}}" ng-model="phoneNumber">
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Social Links <br/> 
                <span class="social-links">
                  <i ng-show="showFacebook" title="{{showFacebook}}" class="fa fa-facebook-square"></i>
                  <i ng-show="showGitHub" title="{{showGitHub}}" class="fa fa-github"></i>
                  <i ng-show="showLinkedIn" title="{{showLinkedIn}}" class="fa fa-linkedin"></i>
                  <i ng-show="showTwitter" title="{{showTwitter}}" class="fa fa-twitter"></i>
                  <i ng-show="showOther" title="{{showOther}}" class="fa fa-info"></i>
                </span>
              </label>
                <div class="input-group m-b">
                  <div class="input-group-btn">
                    <select ng-model="socialSelect" class="social-select btn btn-white dropdown-toggle col-sm-2">
                      <option value="Facebook">Facebook</option>
                      <option>LinkedIn</option>
                      <option>GitHub</option>
                      <option>Twitter</option>
                      <option>Other</option>
                    </select>
                    <input type="text" ng-model="socialInput" ng-focus="checkSuccess()" placeholder="www.{{socialSelect.toLowerCase()}}.com/{{displayName || showDisplayName}}" class="form-control social-input">
                  </div>
                </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Profile Photo URL</label>
              <div class="col-sm-10 photo-input"> 
                <input type="text" class="form-control" ng-focus="checkSuccess()" ng-model="imgUrl">
              </div>
            </div>

            <div class="hr-line-dashed"></div>

            <div class="form-group">
              <div class="col-sm-4 col-sm-offset-2">
                  <button class="btn btn-primary" ng-click="saveUserInfo()">Save changes</button> <span ng-show="success">Saved!</span>
                </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
